.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-spacer {
  flex: 1 1 auto;
}
.inline {
  /*padding: 16px;*/
  /*width: 300px;*/
  color: green;
  text-align: left ;
  font-size: small;
  /*background-color: red;*/
}
.fueraLine {
  /*padding: 16px;*/
  /*width: 300px;*/
  color: black;
  text-align: justify ;
  font-size: small;

  /*background-color: red;*/
}
.texto
{
  text-align: justify ;
  font-size: small;
}

.toolbar{
  color: white;
  background-color: #dd1749;
  display: flex;
  justify-content: center;
}

.toolbarcenter{
  color: white;
  background-color: #007bff;
  display: flex;
  justify-content: center;
}

.example-button {
  margin-top: 16px;
}

.example-tooltip-uppercase {
  text-transform: uppercase;
}

li {
  cursor:pointer;
}

.form-group[_ngcontent-jji-c216] .form-control-round[_ngcontent-jji-c216] {
  border-radius: 50px;
}
*[_ngcontent-jji-c216], [_ngcontent-jji-c216]::after, [_ngcontent-jji-c216]::before {
  box-sizing: border-box;
}